<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitude</key>
		<real>52.490718</real>
		<key>longitude</key>
		<real>13.533471</real>
		<key>title</key>
		<string>start</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>52.49163</real>
		<key>longitude</key>
		<real>13.533455</real>
		<key>title</key>
		<string>first</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>52.492583</real>
		<key>longitude</key>
		<real>13.533584</real>
		<key>title</key>
		<string>second</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>52.493145</real>
		<key>longitude</key>
		<real>13.536728</real>
		<key>title</key>
		<string>third</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>52.493034</real>
		<key>longitude</key>
		<real>13.539657</real>
		<key>title</key>
		<string>fourth</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>52.493184</real>
		<key>longitude</key>
		<real>13.541856</real>
		<key>title</key>
		<string>fifth</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>52.493073</real>
		<key>longitude</key>
		<real>13.539861</real>
		<key>title</key>
		<string>sixth</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>52.491394</real>
		<key>longitude</key>
		<real>13.539485</real>
		<key>title</key>
		<string>seventh</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>52.491525</real>
		<key>longitude</key>
		<real>13.540472</real>
		<key>title</key>
		<string>goal</string>
	</dict>
</array>
</plist>
