<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitude</key>
		<real>52.491397</real>
		<key>longitude</key>
		<real>13.536303</real>
		<key>title</key>
		<string>start</string>
	</dict>
    <dict>
        <key>latitude</key>
        <real>52.490068</real>
        <key>longitude</key>
        <real>13.533230</real>
        <key>title</key>
        <string>first</string>
    </dict>
    <dict>
        <key>latitude</key>
        <real>52.487560</real>
        <key>longitude</key>
        <real>13.532812</real>
        <key>title</key>
        <string>second</string>
    </dict>
    <dict>
        <key>latitude</key>
        <real>52.489918</real>
        <key>longitude</key>
        <real>13.535977</real>
        <key>title</key>
        <string>third</string>
    </dict>
    <dict>
        <key>latitude</key>
        <real>52.489820</real>
        <key>longitude</key>
        <real>13.537940</real>
        <key>title</key>
        <string>fourth</string>
    </dict>
    <dict>
        <key>latitude</key>
        <real>52.489716</real>
        <key>longitude</key>
        <real>13.540011</real>
        <key>title</key>
        <string>fifth</string>
    </dict>
    <dict>
        <key>latitude</key>
        <real>52.490552</real>
        <key>longitude</key>
        <real>13.539571</real>
        <key>title</key>
        <string>sixth</string>
    </dict>
    <dict>
        <key>latitude</key>
        <real>52.491394</real>
        <key>longitude</key>
        <real>13.539485</real>
        <key>title</key>
        <string>seventh</string>
    </dict>
    <dict>
        <key>latitude</key>
        <real>52.491525</real>
        <key>longitude</key>
        <real>13.540472</real>
        <key>title</key>
        <string>goal</string>
    </dict>
</array>
</plist>
